.wrap {
    width: 1326px;
    height: 40px;
}
.left, .right {
    display: inline-block;
    //display: inline;
    //zoom: 1;
    width: 100%;
    margin-right: -100%;
    vertical-align: bottom;
}
.right {
    text-align: right;
}
.left a, .right a { display: inline-block; position: relative; }
.left a { width: 70px; height: 20px; background: white;   border-left:solid black 1px;
  border-top:solid black 1px;
    border-radius:15px;}
.right a { width: 60px; height: 20px; background: white;   border-left:solid black 1px;
  border-top:solid black 1px;
    border-radius:15px;}
}
table {
    border-collapse:separate;
    border:solid black 1px;
    border-radius:6px;
    -moz-border-radius:6px;
}

td, tr {
    border-left:solid black 1px;
    border-top:solid black 1px;
      border-radius:15px;
}

tr {
    background-color: white;
    border-top: none;
    border-radius:6px;
}

tr:first-child, th:first-child {
     border-left: none;
}
